body{
    font-family: 'Baloo 2', cursive;
    margin: 0px;
}
.order-button{
    text-decoration: none;
    background-image: radial-gradient(yellow, tomato);
    padding: 20px 40px;
    color: solid gray;
    border-radius: 30px;
}
.skip{
    color: tomato;
}
.half-width{
    width: 50%;
    margin-top: 5%;
    color:rgb(43, 39, 39);
}
.alphabet{
    margin-left: 5%;
}
.half-width img{
    width: 100%;
    margin-left: 0px;
}
.flexible-container{
    display: flex;
}
.lighting{
    font-size: 90px;
}
.description{
    margin-top: 5px;
    font-size: 30px;
}